html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

html {
  color: $cl-text-main;
  background-color: $cl-bg-main;
}

ul,
li {
  padding-left: 0;
  margin-left: 0;
  list-style-type: none;
}
